<%- '<!DOCTYPE html>' %>
<html lang="en">
  <head>
    <title><%= info.title %></title>
    <link rel="stylesheet" href="/static/info.css">
    <%- include('partials/metadata') %>
  </head>
  <body>
    <div id="app">
      <p id="title"><%- info.title %></p>
      <p id="info"><%- info.description %></p>
    </div>
  </body>
</html>
<%- include('partials/generated') %>