<%- '<!DOCTYPE html>' %>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/metadata') %>
    <title><%= info.title %></title>
    <link rel="stylesheet" href="/static/info.css">
    <link rel="stylesheet" href="/static/default.css">
  </head>

  <body>
    <div id="app">
      <p id="title"><%- info.title %></p>
      <p id="info"><%- info.description %></p>
    </div>
  </body>
</html>
<%- include('partials/generated') %>