<%- '<!DOCTYPE html>' %>
<html lang="en">
  <head>
    <title>Meta data: <%= meta.id %></title>
    <link rel="stylesheet" href="/static/info.css">
    <%- include('partials/metadata') %>
  </head>
  <body>
    <div id="app">
      <p id="title">Meta data: <%- meta.id %></p>
      <p id="info"><b>Upload Time:</b> <code class="inline-code"><%- meta.uploadedAt %></code></p>
      <p id="info"><b>Filetype:</b> <code class="inline-code"><%- meta.fileType %></code></p>
    </div>
  </body>
</html>
<script>/**/</script>
<%- include('partials/generated') %>